* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	position: absolute;
	width: 100%;
	height: 100%;
	font-family: 'Karla', sans-serif;
	background: #F3F3F3;
	color: #000000;
	font-weight: 300;
	font-size: 16px;
}


/* ESTILOS DE PAGINA LOGIN */

	.Log {
		width: 100%;
		max-width: 1920px;
		height: 100%;
		display: grid;
		grid-template-rows: 60px auto;
	}

	.Login {
		background: #FFFFFF;
		align-self: center;
		justify-self: center;
		padding: 20px;
		display: grid;
		grid-gap: 20px;
		grid-template-rows: repeat(4, auto);
		box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
	}

	.Login input {
		width: 300px;
	}

	.User{
		align-self: center;
		justify-self: center;
	}

	.Password{
		align-self: center;
		justify-self: center;
	}

	.Login .BtnAcept {
		margin-top: 50px;
		align-self: center;
		justify-self: center;
	}

/* ESTILOS DE PAGINA CLIENTES */

	.Canvas {
		width: 100%;
		max-width: 1920px;
		display: grid;
		grid-gap: 40px;
		grid-template-rows: repeat(3, auto);
	}

		.Header {
			background: #3B2E5A;
			color: white;
			padding-right: 10px;
			height: 60px;
			box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
			display: grid;
			grid-gap: 5px;
			grid-template-columns: repeat(2, auto);
		}

			#Check {
				display: none;
			}

			#Check:checked ~ .Menu {
				width: 300px;
			}

			#Check:checked ~ .IconMenu {
				transform: translate(300px, 0);
			}

			#Check:checked ~ .Fondo {
				visibility: visible;
				background: rgba(196 ,196 ,196 , 0.5);
			}


			.IconMenu {
				margin-left: 10px;
				grid-column: 1;
				grid-row: 1;
				align-self: center;
				transition: all 300ms ease;
				z-index: 2
			}

			.Menu {
				padding-top: 60px;
				position: fixed;
				width: 0px;
				max-width: 300px;
				height: 100%;
				background: #3B2E5A;
				display: grid;
				grid-template-rows: repeat(6, 80px);
				transition: all 300ms;
				overflow: hidden;
				z-index: 2;
				box-shadow: 4px 0px 10px rgba(0, 0, 0, 0.25);
			}

			.Clientes {
				grid-row: 1;
			}

			.Tranportes {
				grid-row: 2;
			}

			.Experiencias {
				grid-row: 3;
			}

			.Eventos {
				grid-row: 4;
			}

			.LogOut {
				grid-row: 5;
			}

			.Logo {
				grid-column: 2;
				grid-row: 1;
				align-self: center;
				justify-self: end;
			}

			img {
				width: 45px;
				height: 45px;
			}

		span {
			margin-right: 40px;
			margin-left: 40px;
			padding: 20px;
			background: #FFFFFF;
			color: #000000;
			box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
			display: grid;
			grid-gap: 20px;
			grid-template-columns: repeat(5, auto);
			grid-template-rows: repeat(3);
		}

			h1 {
				grid-column: 1 / -1;
				grid-row: 1; 
			}

			p {
				font-size: 20px;
				margin-bottom: 10px; 
			}

			input,
			select {
				width: 250px;
				height: 30px;
				background: #F3F3F3;
				border: 1px solid #000000;
				border-radius: 10px;
				font-size: 16px;
				padding: 0 10px;
				outline: none;
			}

			button {
				outline: none;
				border: none;
				cursor: pointer;
			}

			#Btn {
				color: #FFFFFF;
				font-size: 20px;
				text-align: left;
				padding: 20px;
				border-radius: 0;
				background: #3B2E5A;
				width: 300px;
			}

			#Btn:hover {
				background: #5C5174;
			}

			.BtnAcept {
				width: 150px;
				height: 30px;
				font-size: 16px;
				border-radius: 10px;
				color: #FFFFFF;
				font-weight: bold;
				background: #4EA0AE;
			}

			.RegCliente .Name {
				grid-column: 1;
				grid-row: 2;
			}

			.RegCliente .FName {
				grid-column: 2;
				grid-row: 2;
			}

			.RegCliente .LName {
				grid-column: 3;
				grid-row: 2;
			}

			.RegCliente .Birthday {
				grid-column: 4;
				grid-row: 2;
			}

			.RegCliente .Phone {
				grid-column: 1;
				grid-row: 3;
			}

			.RegCliente .Email {
				grid-column: 2;
				grid-row: 3;
			}

			.RegCliente .Location {
				grid-column: 3;
				grid-row: 3;
			}

			.RegCliente .BtnAcept {
				background: #4EA0AE;
				grid-column: 5;
				grid-row: 3;
				align-self: end;
			}

		.Canvas .Cliente {
			
		}

	.Fondo {
		visibility: hidden;
		position: fixed;
		width: 100%;
		max-width: 1920px;
		height: 100%;
		background: rgba(196 ,196 ,196 , 0.0);
		z-index: 1;
		transition: all 300ms;
	}

/* ESTILOS DE PAGINA TRANSPORTES */

			.RegTransporte .Name {
				grid-column: 1;
				grid-row: 2;
			}

			.RegTransporte .Capacity {
				grid-column: 2;
				grid-row: 2;
			}

			.RegTransporte .Type {
				grid-column: 3;
				grid-row: 2;
			}

			.RegTransporte .Cost {
				grid-column: 4;
				grid-row: 2;
			}

			.RegTransporte .Enterprise {
				grid-column: 1;
				grid-row: 3;
			}

			.RegTransporte .DateStart {
				grid-column: 2;
				grid-row: 3;
			}

			.RegTransporte .DateEnd {
				grid-column: 3;
				grid-row: 3;
			}

			.RegTransporte .BtnAcept {
				background: #4EA0AE;
				grid-column: 5;
				grid-row: 3;
				align-self: end;
			}

			.BtnAcept:hover {
				background: #6CAEB9;
			}

/* ESTILOS DE PAGINA EXPERIENCIAS */

			.RegExperiencia .Event {
				grid-column: 1;
				grid-row: 2;
			}

			.RegExperiencia .Client {
				grid-column: 2;
				grid-row: 2;
			}

			.RegExperiencia .Discount {
				grid-column: 3;
				grid-row: 2;
			}

			.RegExperiencia .Fase {
				grid-column: 1;
				grid-row: 3;
			}

			.RegExperiencia .DateStart {
				grid-column: 2;
				grid-row: 3;
			}

			.RegExperiencia .BtnAcept {
				background: #4EA0AE;
				grid-column: 5;
				grid-row: 3;
				align-self: end;
			}

			.BtnAcept:hover {
				background: #6CAEB9;
			}

/* ESTILOS DE PAGINA EVENTOS */

			.RegEvento .Name {
				grid-column: 1;
				grid-row: 2;
			}

			.RegEvento .DateStart {
				grid-column: 2;
				grid-row: 2;
			}

			.RegEvento .TimeStart {
				grid-column: 3;
				grid-row: 2;
			}

			.RegEvento .Place {
				grid-column: 4;
				grid-row: 2;
			}

			.RegEvento .Banner {
				grid-column: 5;
				grid-row: 2;
			}

			.RegEvento .Type {
				grid-column: 1;
				grid-row: 3;
			}

			.RegEvento .DateEnd {
				grid-column: 2;
				grid-row: 3;
			}

			.RegEvento .TimeEnd {
				grid-column: 3;
				grid-row: 3;
			}

			.RegEvento .BtnAcept {
				background: #4EA0AE;
				grid-column: 5;
				grid-row: 3;
				align-self: end;
			}

			.BtnAcept:hover {
				background: #6CAEB9;
			}

/* ANIMACIONES */
/* BOTON DEL MENU LATERAL*/
